:root {
    --light-blue: #DDE4F1;
    --button-white: #F6F5F8;
    font-family: inter;
}

body {
    background-color: var(--light-blue);
    display: grid;
    justify-content: center;
}

h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 400;
}

main {
    background-color: #F2F3F7;
    width: 336px;
    height: 703px;
    margin-top: 35px;
    border-radius: 42px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-section {
    width: 269px;
    height: 233px;
    margin-top: 30px;
    border: 3px solid#EEF1FF;
    border-radius: 20px;
    padding: 10px 10px 20px 10px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--light-blue) 100%);
    filter: drop-shadow(0px 4px 4px rgba(221, 228, 241, 0.51));
    display: grid;
    grid-template-rows: 100px;
    justify-items: end;
    align-items: end;
}

.display-section > p {
    padding: 0 20px;
    margin: 0;
}
.past-calcul-text {
    font-size: 18px;
    color: rgba(0,0,0,0.32);
}
.calcul-text {
    font-size: 22px;
    color: rgba(0,0,0,0.5);
}
.result-text {
    font-size: 34px;
}

button {
    font-family: inter;
    font-size: 20px;
    margin: 0 5px 0 5px;
}
button:active {
    opacity: 65%;
}

.operator-section {
    margin-top: 15px;
    padding: 10px;
}
.operator-section > button {
    width: 53px;
    height: 38px;
}

.operand-section {
    text-align: center; 
}
.operand-section > button {
    width: 84px;
    height: 66px;
    margin-top: 10px;
}

.operator-section > button,
.operand-section > button {
    background: #F6F5F8;
    box-shadow: 0px 4px 4px #dfdfdf, inset 0px 4px 4px var(--light-blue);
    border-radius: 20px;
    border: none;
}
